{% extends "layout.html" %} {% block content %}

<div id="chart-container">
  <canvas id="line-chart" width="800" height="490"></canvas>
</div>
<div id="date_nav">
  <span style="float: left; width: 50%; text-align: left;">
    <a href="{{url_for('view_date', date_nyc=previous_date)}}">
      &larr; {{previous_date.strftime('%A, %B %d %Y')}}
    </a>
  </span>

  <span style="float: left; width: 50%; text-align: right;">
    <a href="{{url_for('view_date', date_nyc=next_date)}}">
      {{next_date.strftime('%A, %B %d %Y')}} &rarr;
    </a>
  </span>
</div>

<script type="text/javascript">
  var temps = {{ temps | tojson | safe}}
  var dttms = {{ dttms | tojson | safe}}
  var reqs = {{ reqs | tojson | safe}}

  chart = createChart("line-chart", temps, dttms, reqs, )
  chart.options.title.text = "Historical data for {{date_nyc.strftime('%A, %B %d %Y')}}";
  chart.options.title.display = true;
  chart.options.title.fontSize = 14;
  chart.update();
</script>

{% endblock %}
