<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="initial-scale=1" />
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  <meta charset="utf-8" />

  <title>What Temperature is it in My Apartment</title>
</head>

<body>
  <h1>There are no recent readings!</h1>

  <p>
    The thermometer must be on the fritz. This happens occasionally.
    If Nolan knew about it, he would fix it.
  </p>
  <p>
    <a href="mailto: nolanbconaway@gmail.com">Tell me about it!</a>
  </p>
</body>

</html>
