<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <meta charset="utf-8" />

    <title>What Temperature is it in My Apartment</title>
  </head>
  <body>
    <h1>There was a problem connecting to the database.</h1>

    <p>
      Maybe Nolan is working on the Raspberry Pi? Maybe he's moving it? It's
      hooked up with a USB wifi adapter so that's never going to be the most
      reliable experience. You'll just have to deal.
    </p>
  </body>
</html>
