{% extends "layout.html" %} {% block content %}

<center>
  <h2>
    {{latest_fahrenheit}}&deg;F as of {{latest_dttm_nyc.strftime('%I:%M %p')}}
    (US/Eastern)
  </h2>
</center>

<div class="chart-container">
  <canvas id="line-chart" width="800" height="450"></canvas>
</div>

<div id="info">
  <h2>What is this?</h2>

  <p>
    I hooked up a DS18B20 temperature sensor to a raspberry pi! Then I wrote a
    <a href="https://github.com/nolanbconaway/thermometer">python library</a> and a cron
    job which collects readings once per minute and stores them in a postgres database.
    This webapp fetches recent data from that database and displays it with Chart.js.
  </p>

  <p>
    I taped down the raspberry pi to the inside of cardboard box and put the box
    under the desk in my office. I find that temperatures are a couple of degrees (F)
    warmer in that box than outside of it (probably due to heat from the raspberry pi).
  </p>
</div>

<script type="text/javascript">
  var temps = {{ temps | tojson | safe}}
  var dttms = {{ dttms | tojson | safe}}
  var reqs = {{ reqs | tojson | safe}}

  var chart = createChart("line-chart", dttms, temps, reqs,)
</script>

{% endblock %}
