{% extends "layout.html" %} {% block content %}

<center>
  <h2>
    {{latest_fahrenheit}}&deg;F as of {{latest_dttm_nyc.strftime('%I:%M %p')}}
    (US/Eastern)
  </h2>
</center>

<div class="chart-container">
  <canvas id="line-chart" width="800" height="450"></canvas>
</div>

<div id="info">
  <h2>What is this?</h2>

  <p>
    This webapp displays recent temperatures collected from inside my home office. The
    data are collected via a DS18B20 sensor which is hooked up to a raspberry pi.
  </p>

  <p>
    The raspberry pi is running a cron job which stores the temperature once per minute
    in a locally hosted postgres database.
    The raspberry pi is connected via a wifi adapter, and requests to this page are
    routed directly to it &#128556;.
  </p>
</div>

<script type="text/javascript">
  var temps = {{ temps | tojson | safe}}
  var dttms = {{ dttms | tojson | safe}}
  var reqs = {{ reqs | tojson | safe}}

  var chart = createChart("line-chart", dttms, temps, reqs,)
</script>

{% endblock %}
